section.footer 
	.container 
		.footer-top 
			.footer-column
				a(href="index.html").footer-heading.footer-heading--logo MoGo
				p.footer-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste porro nam nesciunt! Delectus illo eaque consequuntur ratione expedita non veniam quod earum adipisci, sequi eius amet rerum architecto! Esse, qui!
				p.footer-follower <strong>15k</strong> follower
				.footer-social 
					span.text Follow Us: 
					.footer-social-list 
						a.footer-social-icon(href="#")
							i.fab.fa-facebook
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
						a.footer-social-icon(href="#")
							i.fab.fa-dribbble
						a.footer-social-icon(href="#")
							i.fab.fa-tumblr
						a.footer-social-icon(href="#")
							i.fab.fa-google-plus
				form.footer-form(action="javascript:void(0)")
					input(type="email" placeholder="Your Email....").footer-form-input
					button.footer-form-button Subscribe
			.footer-column
				h3.footer-heading Blogs
				a(href="#").footer-blog 
					img(src="https://images.unsplash.com/photo-1511289081-d06dda19034d?q=80&w=1536&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="").footer-blog-image
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.ipsum dolor sit amet, consectetur adipisicing ipsum dolor sit amet, consectetur adipisicing ipsum dolor sit amet, consectetur adipisicing 
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#").footer-blog 
					img(src="https://images.unsplash.com/photo-1553708881-112abc53fe54?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="").footer-blog-image
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#").footer-blog 
					img(src="https://images.unsplash.com/photo-1574417836112-fda6a03dae97?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="").footer-blog-image
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						span.footer-blog-date.text.text--light Jan 9, 2016
			.footer-column
				h3.footer-heading Instagram
				.footer-images
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs2.png", alt="")
					.footer-image
						img(src="../images/img-blogs3.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
					.footer-image
						img(src="../images/img-blogs1.png", alt="")
				a(href="#").footer-images-more.text.text--light View more photos
			
		.footer-bottom &copy; 2016 Mogo free PSD template by <span>Laaqiq</span>