section.service 
    .container
        +blockBox("We work with", "Amazing Services")
        .service-container
            .service-list 
                +serviceItem("../../images/img-service-icon1.png","Photography ipsum dolor sit amet, consectetur adipisicing","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +serviceItem("../../images/img-service-icon2.png","Web design","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +serviceItem("../../images/img-service-icon3.png","CREATIVITY","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            .service-list 
                +serviceItem("../../images/img-service-icon4.png","SEO","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +serviceItem("../../images/img-service-icon5.png","css/html","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +serviceItem("../../images/img-service-icon6.png","digital","Lorem ipsum dolor sit amet, consectetur adipisicing elit.")