section.team
	.container
		+blockBox("WHo we are","Meet our team")
		.team-list 
			
			+teamItem("../images/img-team1.png", "Mathew Dix","Graphic Design")
				+teamSocial("#vinh")
			+teamItem("../images/img-team2.png", "chirstopher Cambell", "Ux design")
				+teamSocial("#vinh")
			+teamItem("../images/img-team3.png", "Michael Fertig")
				+teamSocial("#vinh")
			
section.brand 
	.container
		img(src="../images/img-logos.png", alt="brands")