section.wedo 
		.container 
				+blockBox("Service","What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna")
				.wedo-container 
						img(src="../images/img-wedo.png", alt="").wedo-image
						.wedo-content 
							+wedoItem("../images/img-wedo-icon1.png","Photography", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.")
						
							+wedoItem("../images/img-wedo-icon2.png","Creativity", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.","is-active")
						
							+wedoItem("../images/img-wedo-icon3.png","Web design", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur molestiae nostrum modi atque soluta iure sapiente autem labore explicabo alias est temporibus officia officiis magnam at illum, praesentium odit.")
						
						
						//- accordian


